# Documentation: https://roots.io/trellis/docs/remote-server-setup/
# `wordpress_sites` options: https://roots.io/trellis/docs/wordpress-sites
# Define accompanying passwords/secrets in group_vars/staging/vault.yml

wordpress_sites:
  api.{{ project_name }}.alpha.molamil.com:
    site_hosts:
      - canonical: api.{{ project_name }}.alpha.molamil.com
    local_path: ../../
    repo: {{ project_repo }}
    branch: alpha
    multisite:
      enabled: false
    ssl:
      enabled: true
      provider: letsencrypt
    cache:
      enabled: false
    env:
      wp_env: production
      db_name: {{ string( 16 ) }}
      db_user: {{ string( 16 ) }}
  api.{{ project_name }}.beta.molamil.com:
    site_hosts:
      - canonical: api.{{ project_name }}.beta.molamil.com
    local_path: ../../
    repo: {{ project_repo }}
    branch: beta
    multisite:
      enabled: false
    ssl:
      enabled: true
      provider: letsencrypt
    cache:
      enabled: false
    env:
      wp_env: production
      db_name: {{ string( 16 ) }}
      db_user: {{ string( 16 ) }}
