# Documentation: https://roots.io/trellis/docs/vault/
vault_mysql_root_password: {{ string( 16 ) }}

# Variables to accompany `group_vars/development/wordpress_sites.yml`
# Note: the site name (`example.com`) must match up with the site name in the above file.
vault_wordpress_sites:
  api.{{ project_name }}.development.molamil.com:
    admin_password: admin
    env:
      db_password: {{ string( 16 ) }}
      acf_pro_key:
