# Documentation: https://roots.io/trellis/docs/vault/
vault_mysql_root_password: {{ string( 32 ) }}

# Documentation: https://roots.io/trellis/docs/security/
vault_users:
  - name: "{{'{{'}} admin_user {{'}}'}}"
    password: {{ string( 32 ) }}
    salt: "{{ salt( 64 ) }}"

# Variables to accompany `group_vars/production/wordpress_sites.yml`
# Note: the site name (`example.com`) must match up with the site name in the above file.
vault_wordpress_sites:
  api.{{ project_name }}.molamil.com:
     env:
      db_password: {{ string( 32 ) }}
      acf_pro_key:
      # Generate your keys here: https://roots.io/salts.html
      auth_key: "{{ salt( 64 ) }}"
      secure_auth_key: "{{ salt( 64 ) }}"
      logged_in_key: "{{ salt( 64 ) }}"
      nonce_key: "{{ salt( 64 ) }}"
      auth_salt: "{{ salt( 64 ) }}"
      secure_auth_salt: "{{ salt( 64 ) }}"
      logged_in_salt: "{{ salt( 64 ) }}"
      nonce_salt: "{{ salt( 64 ) }}" 