# Documentation: https://roots.io/trellis/docs/local-development-setup/
# `wordpress_sites` options: https://roots.io/trellis/docs/wordpress-sites
# Define accompanying passwords/secrets in group_vars/development/vault.yml

wordpress_sites:
  api.{{ project_name }}.molamil.com:
    site_hosts:
      - canonical: api.{{ project_name }}.molamil.com
    local_path: ../../
    repo: {{ project_repo }}
    branch: master
    admin_email: signup@molamil.com
    multisite:
      enabled: false
    ssl:
      enabled: true
      provider: letsencrypt
    cache:
      enabled: false
    env:
      wp_env: production
      db_name: {{ string( 32 ) }}
      db_user: {{ string( 32 ) }}